<% layout("/layouts/boilerplate") %>
<div class="row"></div>
<div class="col-8 offset-2">

  <body>
    <br>
    <h3>Create New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="Enter Title" type="text" class="form-control" required />
        <div class="valid-feedback">
          Title looks good!
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="Enter Description" class="form-control" required></textarea>
        <div class="invalid-feedback">
          Please enter a valid description.
        </div>
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Category &nbsp; &nbsp;</label>
        <select name="listing[category]" id="category" required aria-label="Select a category">
          <option value="" disabled selected>Choose category</option>
          <option value="Amazing pools">Amazing pools</option>
          <option value="Farms">Farms</option>
          <option value="OMG!">OMG!</option>
          <option value="Earth homes">Earth homes</option>
          <option value="Golfing">Golfing</option>
          <option value="Amazing views">Amazing views</option>
          <option value="Beachfront">Beachfront</option>
          <option value="Cabins">Cabins</option>
          <option value="Rooms">Rooms</option>
          <option value="Castle">Castle</option>
        </select>
        <div class="invalid-feedback">
          Please enter a valid category.
        </div>
      </div>        

      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input name="listing[image]" type="file" class="form-control" />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input name="listing[price]" placeholder="5000" class="form-control" required />
          <div class="invalid-feedback">
            Enter a valid Price.
          </div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input name="listing[country]" placeholder="India" type="text" class="form-control" required />
          <div class="invalid-feedback">
            Enter a valid country name.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" placeholder="Jaipur India" type="text" class="form-control" required />
        <div class="invalid-feedback">
          Enter a valid location.
        </div>
      </div>

      <br>
      <button class="btn add-btn">ADD</button>
      <br><br>
      <br><br>
    </form>
  </body>
</div>